{% extends "base2.html.twig" %}

{% block title %}Course{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ course.getTitle }} </h1>
        <h3>Enrolled Students</h3>

        {% if enrolled_students is not empty %}
            <ul>
            {% for student in enrolled_students  %}
                <li><a href="/../students/{{student.getId}}">{{student.getName}}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        <form action="/courses/{{ course.getId }}" method="post">
            <label>Enroll Students</label>
            {% if students is not empty %}
            <select class="form-control" name="student_id">
                {% for student in students %}
                    <option value="{{student.getId}}">{{student.getName}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="button">submit</button>
            {% endif %}
        </form>
    </div>
    <!-- jumbotron -->
{% endblock %}
