{% extends "base.html.twig" %}
    <title>Course</title>
  </head>
  <body>
      <div class="nav-bar">
        <div class="logo">
          <img src="/img/splogo.jpg" alt="logo">
          <h1></h1>
          <p class="intro"></p>
        </div>
        <div class="center-div">
          <div class="sidebar">
            <ul>
              <li><a href="/teachers">teachers</a></li>
              <li><a href="/students">students</a></li>
              <li>accounts</li>
              <li>billing</li>
              <li><a href="/">home</a></li>
            </ul>
          </div> <!--sidebar-->
        </div> <!--logo-->
      </div> <!--nav-bar-->
            <div class="jumbotron">
                <h1>{{ course.getTitle }} </h1>
                <h3>Enrolled Students</h3>

                {% if enrolled_students is not empty %}
                    <ul>
                    {% for student in enrolled_students  %}
                        <li><a href="/../students/{{student.getId}}">{{student.getName}}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <form action="/courses/{{ course.getId }}" method="post">
                    <label>Enroll Students</label>
                    {% if students is not empty %}
                    <select class="form-control" name="student_id">
                        {% for student in students %}
                            <option value="{{student.getId}}">{{student.getName}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="button">submit</button>
                    {% endif %}
                </form>
            </div>
            <!-- jumbotron -->
      <a href="/">Home</a>
