<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='styles.css' rel='stylesheet' type='text/css'>
    <title>CRM Music School</title>
  </head>
  <body>
    <div class="container">
      <div class="nav-bar">
        <div class="logo">
          <img src="img/splogo.jpg" alt="logo">
          <h1></h1>
          <p class="intro"></p>
        </div>
        <div class="center-div">
          <div class="sidebar">
            <ul>
              <li><a href="/teachers">teachers</a></li>
              <li><a href="/students">students</a></li>
              <!-- <li><a href="/contacts">accounts</a></li> -->
              <li>billing</li>
              <li><a href="/">home</a></li>
            </ul>
          </div> <!--sidebar-->
        </div> <!--logo-->
      </div> <!--nav-bar-->
      <div class="jumbotron">
        <h1>Home</h1>
        <p></p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="jumbotron">
            <h2>Teachers </h2>
            {% if teachers is not empty %}
            <h4 class="stats-numbers">{{ teachers|length }}</h4>
            <ul>
              {% for teacher in teachers %}
                <li><a href="teachers/{{teacher.getId}}">{{teacher.getName}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <!-- jumbotron -->
        </div>
        <!-- column -->
        <div class="col-md-3">
          <div class="jumbotron">
            <h2>Students</h2>
            {% if students is not empty %}
            <h4 class="stats-numbers">{{ students|length }}</h4>
            <ul>
              {% for student in students %}
                <li><a href="students/{{student.getId}}">{{student.getName}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <!-- jumbotron -->
        </div>
        <!-- column -->
        <div class="col-md-3">
          <div class="jumbotron">
            <h2>Lessons</h2>
            <h4 class="stats-numbers">150 </h4>
            <ul>
              <li>today: 20 </li>
              <li>week: 50 </li>
              <li>month: 150 </li>
              <li>this month last year: 140 </li>
            </ul>
            <p></p>
          </div>
          <!-- jumbotron -->
        </div>
        <!-- column -->
        <div class="col-md-3">
          <div class="jumbotron">
            <h2>Billing</h2>
            <p></p>
          </div>
          <!-- jumbotron -->
        </div>
        <!-- column -->
      </div>
      <!-- row -->
      <div class="row">
          <div class="col-md-3">
              <div class="jumbotron">
                  <h2><a href="/courses">Courses</a></h2>
              </div>
          </div>
          <!-- column -->
          <div class="col-md-3">
              <div class="jumbotron">

              </div>
          </div>
          <!-- column -->
          <div class="col-md-3">

          </div>
          <!-- column -->
          <div class="col-md-3">

          </div>
          <!-- column -->
      </div>
      <!-- row   -->
      <div class="row">
          <h4>ServerBlaster results for join tables</h4>
          {% if commands is not empty  %}
          <ol>
              {% for command in commands %}

              <li>{{ command }}</li>

              {% endfor %}
          </ol>
          {% endif %}
      </div>
      <!-- serverBlaster row -->
      <div class="row">
          <h4>csvToArray results for attendance_jimi_march file:</h4>
          {% if attendance_jimi is not empty %}
              <table>
                    <style>
                        table, th, td {
                        border: 1px solid black;
                        }
                    </style>
                    <colgroup>
                        <col span="1" style="background-color:white">
                        <col style="background-color:grey">
                    </colgroup>
                    {% for row in attendance_jimi %}
                          <tr>
                              <th>{{row[0]}}</th>
                              <th>{{row[1]}}</th>
                              <th>{{row[2]}}</th>
                              <th>{{row[3]}}</th>
                              <th>{{row[4]}}</th>
                              <th>{{row[5]}}</th>
                              <th>{{row[6]}}</th>
                          </tr>
                    {% endfor %}
                </table>
            {% endif %}
      </div>
      <!-- csvToArray dump -->
    </div>
    <!-- container -->
  </body>
</html>
