{% extends "base2.html.twig" %}

{% block title %}Course{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>{{ course.getTitle }} </h1>
</div>
<div class="row">
  <div class="col-sm-4">
    {% if courses is not empty %}
        <form class="form-control" action="/owner_courses/redirect" method="post">
            <select name="course_select" onchange="this.form.submit();">
                <option disabled selected value>Choose a course</option>
                {% for course_select in courses %}
                    <option value="{{course_select.getId}}"> {{course_select.getTitle}}</option>
                {% endfor %}
            </select>
        </form>
    {% endif %}
    <div class="row">
        {% if lessons is not empty %}
        <ul>
            {% for lesson in lessons  %}
            <li><a href="/owner_lessons/{{lesson.getId}}">{{lesson.getTitle}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
  </div>
  <!-- left column -->
  <div class="col-sm-4">
    <div class="row">
        <form class="form-control" action="/add_lesson_to_course" method="post">
            <p>Create a Lesson for this course</p>
            <input type="hidden" name="course_id" value="{{course.getId}}"><br>
            <label for="title">Lesson title</label><br>
            <input type="text" name="title" value=""><br>
            <label for="description">Lesson Description</label><br>
            <input type="text" name="description"><br>
            <label for="content">Content</label><br>
            <textarea name="content" rows="8" cols="40"></textarea>
            <button type="submit">Add Lesson</button>
        </form>
    </div>

  </div>
  <!-- mid column -->
  <div class="col-sm-4">
      <form action="/owner_courses/{{ course.getId }}" method="post">
          <label>Enroll Students</label>
          {% if students is not empty %}
          <select class="form-control" name="student_id">
              {% for student in students %}
              <option value="{{student.getId}}">{{student.getName}}</option>
              {% endfor %}
          </select>
          <button type="submit" name="button">submit</button>
          {% endif %}
      </form>
      {% if enrolled_students is not empty %}
      <ul>
          {% for student in enrolled_students  %}
          <li><a href="/../owner_students/{{student.getId}}">{{student.getName}}</a></li>
          {% endfor %}
      </ul>
      {% endif %}
  </div>
  <!-- right column -->
</div>
<!-- row -->


<!-- jumbotron -->
{% endblock %}
