{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Home</h1>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <h2 class="panel-heading" >Teachers </h2>
                {% if teachers is not empty %}
                <div class="panel-body">
                    <h4 id="totals" class="stats-numbers">Total: {{ teachers|length }}</h4>
                    <ul>
                        {% for teacher in teachers %}
                        <li><a href="owner_teacher/{{teacher.getId}}">{{teacher.getName}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    <!-- column -->
    <div class="col-md-3">
        <div class="panel panel-info">
            <h2 class="panel-heading" >Students</h2>
            {% if students is not empty %}
            <div class="panel-body">
                <h4 id="totals" class="stats-numbers">Total: {{ students|length }}</h4>
                <ul>
                    {% for student in students %}
                    <li><a href="owner_student/{{student.getId}}">{{student.getName}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-md-3">
        <div class="panel panel-info">
            <h2 class="panel-heading" >Lessons</h2>
            <div class="panel-body">
                <h4 id="totals" class="stats-numbers">Total: 150 </h4>
                <ul>
                    <li>today: 20 </li>
                    <li>week: 50 </li>
                    <li>month: 150 </li>
                    <li>this month last year: 140 </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <h2 class="panel-heading">Courses</h4>
                <div class="panel-body">
                    <h4 id="totals" class="stats-numbers">Total: 250 </h4>
                    <p>Info goes here </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
