{% extends "base.html.twig" %}

{% block title %}Account{% endblock %}

{% block content %}

<div class="jumbotron green">
    <h1>{{account.getFamilyName}}</h1>
    <hr>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Account Info</h3>
        <hr>
        <div class="panel panel-info">
            <h3 class="panel-heading">{{account.getFamilyName}}</h3>
            <ul>
                <li>Parent Name:  {{account.getParentOneName}}</li>
                <li>Other Parent Name:  {{account.getParentTwoName}}</li>
                <li>Street Address: {{account.getStreetAddress}}</li>
                <li>Phone Number:  {{account.getPhoneNumber}}</li>
                <li>Email Address: {{account.getEmailAddress}}</li>
                {% if account.getStudents is not empty %}
                {% for student in account.getStudents %}
                <li>Student Name:<a href="/owner_students/{{student.getId}}"></a> {{student.getName}}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>

        <form action="/owner_add_student_to_account" method="post">
            <div class="panel panel-info">
                <h3 class="panel-heading">Add New Student to Account</h3>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="student_name">Name</label><br>
                        <input class="form-control" type="text" name="student_name" required><br>
                        <input type="hidden" name="account_id" value="{{account.getId}}">
                        <button class="btn btn-info btn-md"type="submit">Submit</button><br>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- row in column -->
    <div class="col-md-4">
        <h3>Students in this Account</h3>
        <hr>
        {% if selected_students is not empty %}
            {% for student in selected_students %}
                <div class="panel panel-info">
                    <h4 class="panel-heading"><a href="/owner_students/{{student.getId}}">{{student.getName}}</a></h4>
                    <ul>
                        {% if student.getCourses is not empty %}
                            {% for course in student.getCourses %}
                                <li><strong><a href="/owner_courses/{{course.getId}}">{{course.getTitle}}</a></strong></li>
                                {% if course.getLessons is not empty %}
                                    <ul>
                                        {% for lesson in course.getLessons %}
                                            <li><a href="/owner_lessons/{{lesson.getId}}">{{lesson.getTitle}}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- row -->
    <div class="col-md-4">
        <h3>Navigation</h3>
        <hr>
        <form action="/search_input" method="post">
            <div class="form-group">
                <label for="search_input"></label>
                <input class="form-control" type="text" name="search_input" placeholder="Search for Client">
            </div>
        </form>

        <div class="col-md-12">
            {% if accounts is not empty %}
                <table class="table table-hover">
                    <thead>
                        <th>Clients Name</th>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                        <tr>
                            <td><a href="/owner_accounts/{{account.getId}}">{{ account.getFamilyName}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Add Notes:</h3>
        <hr>
        <form action="/owner_accounts/{{ account.getId }}" method="post">
            <input name="_method" type="hidden" value="patch">
            <div class="form-group">
                <label class ="control-label" for="new_notes">Notes</label><br>
                <textarea class="form-control" name="new_notes" rows="10" cols="40"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-sm" name="button">Submit</button>
            </div>
        </form>
    </div>
    <!-- left column -->
    <div class="col-md-4">
        {% if notes_array is not empty %}
        <div class="notes">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Note History:</th>
                    </tr>
                </thead>
                <tbody>
                {% for note in notes_array %}
                <tr>
                    <td><strong>{{ note }}</strong></td>
                </tr>
                {% endfor %}
            </tbody>
        </div>
        {% endif %}
    </div>
    <!-- right column -->
</div>

    {% endblock %}
