{% extends "base2.html.twig" %}

{% block title %}Teacher{% endblock %}

{% block content %}


<div class="jumbotron">
    <h1>{{ teacher.getName }}</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Instruments {{ teacher.getName }} Teaches:</h3>
        <ol>
            <li>{{teacher.getInstrument}} </li>
        </ol>
    </div>

    <div class="col-md-6">
        <h3>Add Teacher Notes:</h3>
        <form action="/owner_teachers/{{ teacher.getId }}" method="post">
            <input name="_method" type="hidden" value="patch">
            <label for="new_notes">add notes...</label><br>
            <textarea name="new_notes" rows="10" cols="40"></textarea><br>
            <input type="reset">
            <button type="submit" class="btn button-success" name="button">Submit</button>
        </form>

        <form action="/owner_teacher/teacher_termination/{{ teacher.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit" class="btn btn-warning" name="button">delete teacher</button>
        </form>
    </div>
</div>

<div class="panel panel-info">
    <h2 class="panel-heading">Assigned Students</h2>
    {% if students_teachers is not empty %}
    <table class="table table-hover">
        <thead>
            <th>Student Name</th>
        </thead>
        <tbody>
            {% for student in students_teachers %}
            <tr>
                <td><a href="/owner_students/{{ student.getId }}">{{ student.getName }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
</div>
</div>


{% if notes_array is not empty %}
<div class="form-group">
    <ul>
        <label>notes:</label>
        {% for note in notes_array %}
        <li><strong>{{ note }}</strong></li>
        <p></p><br>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form action="/owner_teachers/{{ teacher.getId }}" method="post">
    <label for="student_id">Assign a student</label>
    {% if students is not empty %}
    <select id="student_id" class="form-control" name="student_id">
        {% for student in students %}
        <option value="{{student.getId}}">{{student.getName}}</option>
        {% endfor %}
    </select>
    <button type="submit" name="button">submit</button>
        {% endif %}
</form>

{% endblock %}
