{% extends "base2.html.twig" %}

{% block title %}Student{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>{{ student.getName }}</h1>
            <p></p>
            <ul>
                <li>Instrument: <strong> {{ student.getInstrument }}</strong></li>
                <li>Assigned teacher: <strong>{{ assigned_teacher.getName }}</strong> (id:{{ assigned_teacher.getId }})</li>
            </ul>
            <form action="/teacher_students/{{ student.getId }}" method="post">
                <input name="_method" type="hidden" value="patch" required>
                <label for="new_notes">add notes...</label><br>
                <textarea name="new_notes" rows="3" cols="40"></textarea><br>
                <input type="reset">
                <button type="submit" class="btn button-success" name="button">Submit</button>
            </form>
            <form action="/teacher_students/student_termination/{{ student.getId }}" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" name="button">Delete Student</button>
            </form>
        </div>
        <!-- jumbotron -->
    </div>
    <!-- left column -->
    <div class="col-md-4">
        <div class="jumbotron">
            <p>Current Class</p>
            {% if enrolled_courses is not empty %}
            <ol>
                {% for course in enrolled_courses %}
                <li>{{ course.getTitle }}: {{ student.getDateOfEnrollment(course.getId) }}</li>
                {% endfor %}
                {% endif %}
            </ol>

            <form action="/students/{{ student.getId }}" method="post">
                <label>Enroll in a Course</label>
                {% if courses is not empty %}
                <select class="form-control" name="course_id">
                    {% for course in courses %}
                    <option value="{{course.getId}}">{{course.getTitle}}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="button">submit</button>
                {% endif %}
            </form>
        </div>
    </div>
    <!-- enroll column -->
</div>
<!-- row -->

<div class="jumbotron">
    {% if notes_array is not empty %}
    <div class="well">
        <ul>
            <label>notes:</label>
            {% for note in notes_array %}
            <li><strong>{{ note }}</strong></li>
            <p></p><br>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <!-- well -->
</div>
<!-- jumbotron -->
{% endblock %}
